.p-5 {
    background: #f9f9f9;
    color: #100000;
    margin-top: 95px;
    /*margin-bottom: 70px;*/
    width: 700px; /* 너비를 원하는 값으로 지정하세요 */
    height: 910px; /* 높이를 원하는 값으로 지정하세요 */
}
.text-center {
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.2;
    margin-top: 5px;
    margin-bottom: 40px;
}
.checkbox-group {
    font-family: Arial, sans-serif;
}

input[type="checkbox"] {
    margin-right: 10px;
    font-size: 20px;
}

label {
    font-size: 20px;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px; /* 간격을 조절하는 값으로 원하는 크기를 지정하세요 */
}

.btn btn-primary btn-user btn-block {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    /*margin-top: 50px;*/
    /*margin-bottom: 40px;*/
}
.back-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px; /* Adjust the width of the circular button */
    height: 100px; /* Adjust the height of the circular button */
    border-radius: 50%; /* Makes the button circular */
    background-color: rgb(107, 189, 176); /* Button background color */
    color: #ffffff; /* Text color */
    text-decoration: none; /* Remove underline from the link */
    font-weight: bold;
    position: fixed;
    bottom: 20px; /* Distance from the bottom */
    right: 20px; /* Distance from the right */
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1); /* Optional: Add a box shadow */
    background-image: url('back.jpg'); /* Add background image */
    background-size: cover; /* Ensure the background image covers the entire button */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Do not repeat the background image */
}

.back-button:hover {
    background-color: rgba(220, 124, 218, 0.98); /* Change background color on hover */
    cursor: pointer;
}
