/* 입력 폼 스타일 */
.form-group {
    margin-bottom: 20px; /* 입력 폼 사이의 간격 조절 */
}

.form-control {
    margin-bottom: 15px;
    height: 40px; /* 입력 폼 높이 조절 */
    font-size: 16px; /* 입력 폼 글꼴 크기 조절 */
}

/* 제출 버튼 스타일 */
.btn-user {
    height: 40px; /* 제출 버튼 높이 조절 */
    font-size: 16px; /* 제출 버튼 글꼴 크기 조절 */
}

/* 제출 버튼 위치 조절 */
.btn-user.btn-block {
    width: 100%; /* 제출 버튼이 가로로 꽉 차도록 설정 */
}
.back-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px; /* Adjust the width of the circular button */
    height: 100px; /* Adjust the height of the circular button */
    border-radius: 50%; /* Makes the button circular */
    background-color: rgba(220, 124, 218, 0.98); /* Button background color */
    color: #ffffff; /* Text color */
    text-decoration: none; /* Remove underline from the link */
    font-weight: bold;
    position: fixed;
    bottom: 20px; /* Distance from the bottom */
    right: 20px; /* Distance from the right */
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1); /* Optional: Add a box shadow */
}

.back-button:hover {
    background-color: rgba(220, 124, 218, 0.98); /* Change background color on hover */
    cursor: pointer;
}
